                                            /*======= RESETS ==========*/

*{
    box-sizing: border-box;
    font:inherit;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

ul{list-style: none;}

:root{

    /* === > colors  <=== */

    
    --primary-clr-100:hsl(0, 0%, 100%);
    --primary-clr-400:hsl(220, 4%, 86%);
    --primary-clr-500:hsl(0, 0%, 48%);
    --primary-clr-600:hsl(0, 0%, 25%); 
    --primary-clr-700:hsl(0, 0%, 0%); 

    /* === > Fonts  <=== */
    
    --fw-regular:400;
    --fw-semi-bold:500;
    --fw-bold:700;

    /* === > paddings  <=== */

    --header-padding:3.4rem;

    /* === > Layout  <=== */

    --header-height:9.2rem;

}

                             /*======= UTILITY CLASSES ==========*/

.primary-clr-100{color: var(--primary-clr-100);}
.primary-clr-400{color: var(--primary-clr-400);}
.primary-clr-500{color: var(--primary-clr-500);}
.primary-clr-600{color: var(--primary-clr-600);}
.primary-clr-700{color: var(--primary-clr-700);}

.fw-regular{font-weight: var(--fw-regular);}
.fw-semi-bold{font-weight: var(--fw-semi-bold);}
.fw-bold{font-weight: var(--fw-bold);}

                                  /*======= BASE ==========*/  

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    overflow: auto hidden;
    font-family: ;
    color: var(--primary-clr-700);
}


.container{
    display: grid;
    justify-items:center;
    /* height: 100vh; */
    width: 100vw;
}

.header{
    border-bottom: 1px solid var(--primary-clr-400);
    padding-block:var(--header-padding);
    height: var(--header-height);
    width: 100vw;
    text-align: center;
}


.logo  img{
    height: 4rem;
    width: auto;
    margin-right: 0.8rem;
}

.logo a{
    display: inline-flex;
    align-items: center;
    font-size: 2.6rem;
}

main{
    margin-top: 4rem;
}

.btn{
    align-items: center;
    border: 1px solid var(--primary-clr-500);
    border-radius: 5rem;
    color: var(--primary-clr-100);
    display: grid;
    height: 5rem;
    margin-top: 1.6rem;
    text-align: center;
    width: 43.1rem;
}

.btn[data-inverted = "blue"]{
    background: hsl(214, 89%, 52%);
    border-color: hsl(214, 89%, 52%);
}

.btn[data-inverted = "black"]{background: hsl(0, 0%, 10%);}

.btn[data-inverted = "grey"]{
    color: var(--primary-clr-500);
}

 /* in mobile screen sizes do not forget to change the width of the buttons to :38.1rem  */