                                            /*======= RESETS ==========*/

*,
::before,
::after{
    box-sizing: border-box;
    font:inherit;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

ul{list-style: none;}

:root{

    /* === > colors  <=== */

    
    --primary-clr-100:hsl(0, 0%, 100%);
    --primary-clr-400:hsl(220, 4%, 86%);
    --primary-clr-500:hsl(0, 0%, 48%);
    --primary-clr-600:hsl(0, 0%, 25%); 
    --primary-clr-700:hsl(0, 0%, 0%); 

    /* === > Fonts  <=== */
    
    --fw-regular:400;
    --fw-semi-bold:500;
    --fw-bold:700;

    /* === > paddings  <=== */

    --header-padding:3.4rem;

    /* === > Layout  <=== */

    --header-height:9.2rem;

}

                             /*======= UTILITY CLASSES ==========*/

.primary-clr-100{color: var(--primary-clr-100);}
.primary-clr-400{color: var(--primary-clr-400);}
.primary-clr-500{color: var(--primary-clr-500);}
.primary-clr-600{color: var(--primary-clr-600);}
.primary-clr-700{color: var(--primary-clr-700);}

.fw-regular{font-weight: var(--fw-regular);}
.fw-semi-bold{font-weight: var(--fw-semi-bold);}
.fw-bold{font-weight: var(--fw-bold);}

                                  /*======= BASE ==========*/  

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    overflow: hidden auto;
    /* font-family: ; */
    color: var(--primary-clr-700);
    text-align: center;
}


.container{
    display: grid;
    justify-items:center;
    /* height: 100vh; */
    width: 100vw;
}

.header{
    border-bottom: 1px solid var(--primary-clr-400);
    padding-block:var(--header-padding);
    height: var(--header-height);
    width: 100vw;
}


.logo  img{
    height: 4rem;
    width: auto;
    margin-right: 0.8rem;
}

.logo a{
    display: inline-flex;
    align-items: center;
    font-size: 2.6rem;
}

main{
    margin-top: 4rem;
}

.btn{
    align-items: center;
    border: 1px solid var(--primary-clr-500);
    border-radius: 5rem;
    color: var(--primary-clr-100);
    display: grid;
    height: 5rem;
    margin-top: 1.6rem;
    width: 43.1rem;
}

.btn[data-inverted = "blue"]{
    background: hsl(214, 89%, 52%);
    border-color: hsl(214, 89%, 52%);
}

.btn[data-inverted = "black"]{background: hsl(0, 0%, 10%);}

.btn[data-inverted = "grey"]{
    color: var(--primary-clr-500);
}



.divider{
    margin-top: 2.2rem;
}

 .divider p{
    position: relative;
}

.divider p::before{
    background: var(--primary-clr-400);
    content: '';
    position: absolute;
    height: 1px;
    width: 34%;
    top: .5rem;  
    right: 1rem;
}

.divider p::after{
    background: var(--primary-clr-400);
    content: '';
    position: absolute;
    height: 1px;
    width: 34%;
    top: .5rem;  
    left: 1rem;
}

form{
    margin-top: 2rem;
}

legend{
    font-weight: var(--fw-bold);
    margin-bottom: .6rem;
    width: 46%;
}

legend:nth-child(3){
    width: 15%;
}

input{
    height: 4.7rem;
    outline: none;
    padding: 1rem;
    width: 40rem;
    margin-bottom: 2rem;
}

form a{
   color: hsl(0, 0%, 10%);
   display: block;
   text-decoration: underline;
   width: 34%;
}

.checkbox-radio input[type ="checkbox"]{
    appearance: none;
    border: 1px solid var(--primary-clr-400);
    border-radius: 20%;
    cursor: pointer;
    height: 1rem;
    margin-top: 2rem;
    margin-right: .5rem;
    vertical-align: middle;
    width: 1rem;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
}

.checkbox-radio input[type ="checkbox"]:checked::before{
    background-color: hsl(141, 75%, 35%);
    border-radius: 20%;
    color: var(--primary-clr-100);
    content: '✔';
    height:2rem;
    width: 2rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.checkbox-radio input[type ="checkbox"] + label{
    margin-right: 31rem;
}

 /* in mobile screen sizes do not forget to change the width of the buttons to :38.1rem  
    and do not forget too, to set an font family to our body
    set the correct font size in every text
    add some transitions in entire page
 */